@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	color: black;
	background-color: white;
	text-align: center;
}

#title-container {
	margin: 4rem 0;
}

#main-container {
	width: 90%;
	margin: 0 auto 4rem;
}

h3 {
	font-size: 20px;
}

p {
	font-size: 18px;
}

code {
	font-family: monospace;
  	padding: 3px;
  	color: black;
  	background-color: lightgrey;
}

a {
	color: #2574A9;
	font-size: 18px;
}

.exemple-link {
	line-height: 1.8;
}
